
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio {
    background: linear-gradient(135deg, rgb(210, 224, 251), rgb(254, 249, 217));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


#H1_titulo {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    color: rgb(142, 172, 205);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    transform: translateY(-20px);
    animation: slide-in 1.2s ease-out;
}


#descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(142, 172, 205)efe;
    max-width: 1000px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 40px;
    transform: translateY(20px);
    animation: fade-in 1.5s ease-out;
}


/* Animaciones */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
