
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inicio {
    background: linear-gradient(135deg, rgb(210, 224, 251), rgb(254, 249, 217));
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}


#H1_titulo {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    color: rgb(142, 172, 205);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    animation: slide-in 1.2s ease-out;
}


#descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(142, 172, 205);
    max-width: 1000px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 40px;
    animation: fade-in 1.5s ease-out;
}


#contexto {
    background: linear-gradient(48deg, rgb(210, 224, 251), rgb(254, 249, 217));
    height: 100vh;
    width: 100vw;
}


/* Animaciones */
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 20px;
    animation: fade-in 1.5s ease-out;
}

.video {
    width: 300px;
    height: 200px;
    background-color: #cfe8f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(142, 172, 205);
    border-radius: 10px;
    text-align: center;
    animation: slide-in 1.2s ease-out;
}

.text {
    font-size: 24px;
    font-family: 'Cinzel', serif;
    color: rgb(142, 172, 205);
    animation: slide-in 1.2s ease-out;
}

.title {
    text-align: center;
    font-size: 20px;
    color: rgb(142, 172, 205);
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    animation: fade-in 1.5s ease-out;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: rgb(142, 172, 205);
    margin-top: 5px;
    animation: fade-in 1.5s ease-out;
}