* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, rgb(210, 224, 251), rgb(254, 249, 217));
    background-attachment: fixed;
    min-height: 100vh;
    transition: background-color 0.2s ease; 
}



#inicio, #contexto, #datos, #video {
    min-height: 100vh; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#content {
    width: 100%;
    max-width: 1260px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center; 
}

#H1_titulo {
    font-size: 4vw;
    color: rgb(142, 172, 205);
    margin-bottom: 10px;
    text-align: center;
}

#descripcion {
    font-size: 1vw;
    color: rgba(10, 38, 68, 0.733);
    max-width: 800px; 
    margin: 0 auto; 
    margin-top: 20px;
    text-align: center;
}

#flor_der {
    position: absolute;
}

#flor_izq {
    transform: rotate(180deg);
    position: absolute;
}

#conclusiones {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100VW;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.conclusion p {
    font-size: 2vw;
    color: rgb(10, 38, 68);
    max-width: 600px;
    margin: 0 auto;
}

.agradecimientos p {
    font-size: 1.2vw;
    color: rgb(10, 38, 68);
    max-width: 500px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px; 
    max-width: 90%; 
    margin: 20px auto;
    margin-top: 0px;
    animation: fade-in 1.5s ease-out;
    flex-wrap: wrap; 
    width: 80%; 
}



.video video {
    width: 100%;
    height: auto; 
    max-width: 100%; 
}

.text {
    font-size: 2vw; 
    font-family: 'Cinzel', serif;
    color: rgb(4, 29, 56);
    animation: slide-in 1.2s ease-out;
    max-width: 400px; 
    flex-grow: 1; 
    margin-top: 0;
    margin-left: 20px; 
    text-align: left; 
}

.title {
    text-align: center;
    font-size: 20px;
    color: rgb(4, 29, 56);
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    animation: fade-in 1.5s ease-out;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: rgb(4, 29, 56);
    margin-top: 5px;
    animation: fade-in 1.5s ease-out;
}

.text-content {
    max-width: 800px;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.text-content h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.text-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

.contexto p {
    font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
    font-size: 2.2rem; /* Tamaño de fuente adecuado */
    line-height: 2.4; /* Altura de línea para mejor legibilidad */
    color: #333; /* Color oscuro para el texto */
    text-align: justify; /* Justificación para un aspecto profesional */
    padding: 40px; /* Espaciado interno del texto */
    background-color: #ffffff; /* Fondo blanco para resaltar el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el texto */
}

.infografia-text p {
    font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
    font-size: 2.2rem; /* Tamaño de fuente adecuado */
    line-height: 2.4; /* Altura de línea para mejor legibilidad */
    color: #333; /* Color oscuro para el texto */
    text-align: justify; /* Justificación para un aspecto profesional */
    padding: 40px; /* Espaciado interno del texto */
    background-color: rgb(243, 243, 243); /* Fondo blanco para resaltar el texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el texto */
}

.grafica, .infografia, .infografia_1, .infografia_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.contexto, .infografia-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 
}

.contexto p, .infografia-text p {
    font-size: 1.2rem;
    color: rgb(4, 29, 56);
    text-align: center; 
    margin-top: 20px;
}

.grafica img, .infografia img, .infografia_1 img, .infografia_2 img {
    width: 100%;           
    height: auto;          
    max-width: 100%;       
    display: block;        
    margin: 0 auto;        
}

.video {
    display: flex;
    justify-content: flex-end;  /* Esto alinea el video a la derecha */
    align-items: center;        /* Alinea el video verticalmente */
    width: 100%;
}

.video-size {
    width: 600px; 
    height: 400px; 
    object-fit: cover; /* Mantener la relación de aspecto */
    margin-left: auto;  /* Esto mueve el video hacia la derecha */
}

.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);    
}

.btn {
    background-color: #6B4226;
    color: white;
    font-size: 1vw;
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 13vw;
}

.btn:hover{
    background-color: #a37c41;
}

.btn:active{
    transform: scale(0.95);
}

@media (max-width: 1024px) {
    #H1_titulo {
        font-size: 3rem;
    }
    #descripcion {
        font-size: 1rem;
    }
    .text {
        font-size: 3vw;
    }
    .title, .subtitle {
        font-size: 1.2rem;
    }
    .grafica img, .infografia img .infografia_1 img, .infografia_2 img {
        width: 80%; 
    }
}

@media (max-width: 768px) {
    #H1_titulo {
        font-size: 2.5rem;
    }
    #descripcion {
        font-size: 0.9rem;
    }
    .text {
        font-size: 4vw;
    }
    .title, .subtitle {
        font-size: 1.2rem;
    }
    .grafica img, .infografia img, .infografia_1 img, .infografia_2 img {
        width: 70%;
    }
}

@media (max-width: 480px) {
    #H1_titulo {
        font-size: 2rem;
    }
    #descripcion {
        font-size: 0.8rem;
    }
    .text {
        font-size: 5vw;
    }
    .title, .subtitle {
        font-size: 1rem;
    }
    .grafica img, .infografia img, .infografia_1 img, .infografia_2 img {
        width: 60%; 
    }
}

@media (min-width: 1024px) {
    #flor_der {
        height: 150px;
        width: 150px;
        right: 0%;
        bottom: 5px;
    }
    #flor_izq {
        height: 150px;
        width: 150px;
        left: -30px; 
        top: -30px;
    }
}

@media (max-width: 1024px) {
    #flor_der {
        height: 80px;
        width: 70px;
        right: 20px;
        bottom: 5px;
    }
    #flor_izq {
        height: 80px;
        width: 70px;
        left: 20px;
        top: 5px;
    }
}

@media (max-width: 768px) {
    #flor_der {
        height: 60px;
        width: 50px;
        right: 15px;
        bottom: 5px;
    }
    #flor_izq {
        height: 60px;
        width: 50px;
        left: 15px;
        top: 15px;
    }
}

@media (max-width: 480px) {
    #flor_der {
        height: 40px;
        width: 35px;
        right: 10px;
        bottom: 40px;
    }
    #flor_izq {
        height: 40px;
        width: 35px;
        left: 10px;
        top: 10px;
    }
}